body {
  background-color: pink;
  background-image: url(9a17cab3fba475822b2691da1efffb88.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #19B3E6;
  color: #FFF;
  font-size: 1.8em; }

